.card {
  background-color: #F0F0F0;
  box-shadow: 0 0.1em 0.4em rgba(0,0,0, 0.2);
  padding: 1em;
  border-radius: 0.5em;
  width: calc(100% - 1em);
  height: 1em;
  top: 10em;
  margin: auto;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.card.canBeClosed {
  position: absolute;
  width: calc(100% - 3em);
  left: 1.5em;
}
.card.visible {
  opacity: 1;
  height: auto;
  top: 0em;
}
.card.visible.layer1 {
  top: 4em;
}
.card.visible.layer2 {
  top: 7em;
}
.card.visible.layer3 {
  top: 10em;
}

.card .x-button {
  cursor: pointer;
  position: absolute;
  right: 0.2em;
  top: 0.5em;
  border: none;
  background: none;
  outline: none;
}
.card .x-button:before {
  content: '✖';
  font-size: 1.5em;
}
.card .x-button:focus,
.card .x-button:hover {
  color: dodgerblue;
}
