.select {
  user-select: none;
}

/* Reset styles */
.select button {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  transition: all 0.2s;
}
.select button:focus {
  border: 1px solid gray;
  outline: none;
}
.select button:hover {
  background-color: #dddddd;
}
.select button:disabled {
  color: #bbbbbb;
}

.select .menu-closed {
  padding: 0 0.5em;
  margin: 0;
  list-style: none;
  height: 2em;
  width: 10em;
  margin-right: 1em;
  border-radius: 0.5em;
  border: 1px solid #d3d3d3;
  background-color: white;
  position: relative;
}

.select .menu-closed .arrows {
  position: absolute;
  right: 0.5em;
}

.select .menu-open {
  display: none;
  position: absolute;
  width: 10em;
  border-radius: 0.5em;
  border: 1px solid #d3d3d3;
  background-color: white;
  margin: auto;
  overflow: hidden;
}
.select.open .menu-open {
  display: block;
}

.select .menu-item { 
  width: 100%;
  cursor: pointer;
  display: block;
  height: 100%;
  margin: 0;
  color: black;
  background-color: none;
  padding: 0.5em;
}
.select .menu-item.selected {
  background-color: black;
  color: white;
}
