.tab-menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 0.25em;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

/* Reset styles */
.tab-menu button {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}
.tab-menu button:focus {
  outline: none;
}
.tab-menu button:focus:not(.selected) {
  outline: 1px solid #bbbbbb;
}
.tab-menu button:hover {
  background-color: #dddddd;
}
.tab-menu button:disabled {
  color: #bbbbbb;
}

.tab-menu .menu-item { 
  flex: 1;
  color: black;
  padding: 0.4em 0;
  margin: 0;
}
.tab-menu .menu-item:not(:last-child) {
  border-right: 1px solid black;
}
.tab-menu .menu-item.selected {
  background-color: black;
  color: white;
}
