* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 1em;
}

/* ----- #NiceAndSimple: Table - https://codepen.io/tomsoderlund/pen/mmZrRR ----- */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 0.5em;
  vertical-align: top;
}

thead tr {
  background-color: #ccc;
}

tr:nth-child(2n+0) {
  background-color: #eee;
}

/* ----- TabMenu ----- */

.tab-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 0.125em;
  height: 2em;
  width: 100%;
  margin-right: 1em;
  user-select: none;
}

/* Reset styles */
.tab-menu button {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
.tab-menu button:focus {
  outline: none;
}
.tab-menu button:focus:not(.selected) {
  border: 1px solid gray;
}

.tab-menu .menu-item { 
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  transition: all 0.2s;
  color: black;
  background-color: none;
  cursor: pointer;
}
.tab-menu .menu-item:not(:last-child) {
  border-right: 1px solid black;
}
.tab-menu .menu-item:hover {
  background-color: #d3d3d3;
}
.tab-menu .menu-item.selected {
  background-color: black;
  color: white;
}

/* ----- SelectPopup ----- */

.select {
  user-select: none;
}

/* Reset styles */
.select button {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
.select button:focus {
  border: 1px solid gray;
  outline: none;
}

.select .menu-closed {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  height: 2em;
  width: 10em;
  margin-right: 1em;
  border-radius: 0.5em;
  border: 1px solid #d3d3d3;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.select .menu-closed .arrows {
  position: absolute;
  right: 0.5em;
}

.select .menu-open {
  display: none;
  position: absolute;
  width: 10em;
  border-radius: 0.5em;
  border: 1px solid #d3d3d3;
  background-color: white;
  margin: auto;
  overflow: hidden;
}
.select.open .menu-open {
  display: block;
}

.select .menu-item { 
  width: 100%;
  cursor: pointer;
  display: block;
  height: 100%;
  margin: 0;
  transition: all 0.2s;
  color: black;
  background-color: none;
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
}
.select .menu-item:hover {
  background-color: #d3d3d3;
}
.select .menu-item.selected {
  background-color: black;
  color: white;
}
